<%-include("../partials/_header.ejs") -%>
<section class="endangered">
  
  <h1 class="text-center endangered__heading">Endangered Game</h1>
  <div class="container-fluid">
    <div class="d-flex">
      <div>
        <img src="/img/endangered_intro.gif" alt="endangered game" class="endangered__introImg" />
        <p class="endangered__explanation"> An animal or plant that goes extinct is gone forever. Endangered animals or
          plants are species that are in
          danger
          of going extinct because there are so few of them. In the United States, these animals and plants are
          protected
          by
          a law called<h3>
            "The Endangered Species Act." Play the Endangered Species Game to find out how this law works.
          </h3>
        </p>

      </div>
      <div>
        <img target="__blank" src="/img/endangered_animals.gif" alt="endangered animal" class="endangered__img" />
      </div>
    </div>

    <div class="endangered__need">
      <div>
        <h2 class="text-center">What you would need</h2>
        <div class="d-flex">
          <img src="/img/endangered_materials.gif" alt="material" />
          <ul>
            <li>Game board pdf <a href="/pdf/endangered-game.pdf">print-outs</a></li>
            <li>Scissors</li>
            <li>Tape</li>
            <li>Pair of dice</li>
            <li>Place markers</li>
            (You can use pieces of colored paper, small plastic animals, or place markers from other games. Make sure
            that everyone who plays has a different place marker.)
            What to do
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-center">What to do</h2>
      <div class="todo__container">
        <div class="d-flex">
          <p>
            (1)
            Trim along the dotted lines of the print-outs. Then, arrange the 4 pages so the pictures line up and tape
            them all together. (If you are not using clear tape, make sure you don't put the tape over any words or
            pictures).
          </p>
          <img src="/img/endangered_step1.gif" alt="step1" />
        </div>
      </div>
      <div class="todo__container">
        <div class="d-flex">
          <p>
            (2)
            Put your markers where it reads, "start." Decide who goes first. First person throws dice.
          </p>
          <img src="/img/endangered_step2.gif" alt="step2" />
        </div>
      </div>
      <div class="todo__container">
        <div class="d-flex">
          <p>
            (3)
            If you land on a space with a question, you have to answer the question correctly before you can move again.
            If you answer incorrectly, you lose a turn. The other players decide if you're right. (TIP: The answer can
            be found on the game board.)
          </p>
          <img src="/img/endangered_step3.gif" alt="step3" />
        </div>
      </div>
      <div class="todo__container">
        <div class="d-flex">
          <p>
            (4)
            You have to roll the exact number to get to the Survival circle, or else roll doubles once you're on or past
            the space that reads, "From here on in doubles will win!"
          </p>
          <img src="/img/endangered_step4.gif" alt="step4" />
        </div>
      </div>
    </div>
  </div>
</section>

<%-include("../partials/_footer.ejs") -%>