<%-include("./partials/_header.ejs") -%>
<link rel="stylesheet" href="/css/modal.css">

<section class="animals">
    <%-include ("./partials/_alert.ejs") -%>

    <%if(isAuthenticated){%>
    <div class="d-flex animals__btnSection">
        <button id="myBtn" class="location__cta">Add New Location</button>
        <a href="/create" class="animals__cta">Add New Animal</a>
    </div>
    <%}%>
    <%if(animals.length>0){%>
    <div class="animals__grid">
        <% for(var i = 0;i <animals.length;i++){%>
        <div class="animals__card">
            <a href="/pets/<%=animals[i].id%>">
                <img src="/img/uploads/<%=animals[i].image%>" alt="<%=animals[i].name%>" class="animals__img" />
                <div>
                    <h3><%= animals[i].name %></h3>
                    <% if(animals[i].endangered  == 'true') {%>
                    <p>Endangered</p>
                    <%}%>
                </div>
            </a>
            <% if(isAuthenticated) { %>
                    <div class="animals__btnArea">
                        <a href="/edit/<%=animals[i].id%>" class="edit__cta">Edit</a>
                        <button class="delete__cta" name="<%=animals[i].id%>" id="delete">Delete</button>
                    </div>
                    <%}%>
            </div>
            <%} %>
                </div>
                <%}%>
</section>


<!-- Create Animal Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="create__location">
            <div class="text-center">
                <h1 class="animals__heading">Create Location</h1>
            </div>
            <form class="form" role="form" method="post" action="/api/location">
                <div class="form__group">
                    <label>Location</label>
                    <input type="text" name="location" autocomplete="off" />
                </div>
                <div>
                    <button class="login__cta">Create Location</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="/js/modal.js"></script>
<%-include("./partials/_footer.ejs") -%>