<%-include("./partials/_header.ejs") -%>
<section>
    <div class="slideshow-container fade">

        <!-- Full images with numbers and message Info -->
        <div class="Containers">
            <div class="MessageInfo">1 / 3</div>
            <img src="/img/elephant.jpg" style="width: 100%;
                            object-position: 30% 40%;
            height: 90vh;object-fit:cover">
            <div class="Info">1</div>
        </div>

        <div class="Containers">
            <div class="MessageInfo">2 / 3</div>
            <img src="/img/Tiger.jpg" style="width: 100%;
              object-position: 30% 0%;
            height: 90vh;object-fit:cover">
            <div class="Info">2</div>
        </div>

        <div class="Containers">
            <div class="MessageInfo">3 / 3</div>
            <img src="/img/zebra.jpg" style="width: 100%;
             object-position: 30% 70%;
            height: 90vh;object-fit:cover">
            <div class="Info">3</div>
        </div>

        <!-- Back and forward buttons -->
        <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
        <a class="forward" onclick="plusSlides(1)">&#10095;</a>
    </div>

</section>
<section>
    <div class="about_us">
        <h2 class="text-center">About</h2>
        <div class="mission">
            <span>Wildlife</span>
            <p>Wildlife traditionally refers to undomesticated animal species, but has come to include all organisms
                that grow or live wild in an area without being introduced by humans. ... Deserts, forests, rainforests,
                plains, grasslands, and other areas, including the most developed urban areas, all have distinct forms
                of wildlife. </p>
        </div>
        <span>ZooLand</span>
        <p>Zooland brings wildlife to the web to teach the young ones. </p>
        <span>Endangered</span>
        <p>An endangered species is a species that is very likely to become extinct in the near future, either worldwide
            or in a particular political jurisdiction. Endangered species may be at risk due to factors such as habitat
            loss, poaching and invasive species. The International Union for Conservation of Nature (IUCN) Red List
            lists the global conservation status of many species, and various other agencies assess the status of
            species within particular areas. Many nations have laws that protect conservation-reliant species which, for
            example, forbid hunting, restrict land development, or create protected areas. Some endangered species are
            the target of extensive conservation efforts such as captive breeding and habitat restoration.
            <br />
    </div>
</section>

<script src="/js/carousel.js"></script>
<%-include("./partials/_footer.ejs") -%>