<%-include("./partials/_header.ejs") -%>
<section>
    <div class="slideshow-container fade">

        <!-- Full images with numbers and message Info -->
        <div class="Containers">
            <div class="MessageInfo">1 / 3</div>
            <img src="/img/elephant.jpg" style="width: 100%;
                            object-position: 30% 40%;
            height: 90vh;object-fit:cover">
            <div class="Info">1</div>
        </div>

        <div class="Containers">
            <div class="MessageInfo">2 / 3</div>
            <img src="/img/Tiger.jpg" style="width: 100%;
              object-position: 30% 0%;
            height: 90vh;object-fit:cover">
            <div class="Info">2</div>
        </div>

        <div class="Containers">
            <div class="MessageInfo">3 / 3</div>
            <img src="/img/zebra.jpg" style="width: 100%;
             object-position: 30% 70%;
            height: 90vh;object-fit:cover">
            <div class="Info">3</div>
        </div>

        <!-- Back and forward buttons -->
        <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
        <a class="forward" onclick="plusSlides(1)">&#10095;</a>
    </div>

</section>

<script src="/js/carousel.js"></script>
<%-include("./partials/_footer.ejs") -%>