@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

:root {
    --white: #fff;
    --green: #6B8F3D;
    --green-shade: #505C10;
    --orange: #C8481E;
    --yellow: #E8B74F;
    --light-yellow: #E5D2A6;
    --dark: #160814;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}


nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    background: var(--yellow);
}

nav.navbar-header {
    letter-spacing: 3px;

}

.navbar-header>a {
    text-decoration: none;
    color: var(--orange);
    font-size: 20px;
}

nav ul.navbar-nav {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul.navbar-nav li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1em;
}

ul.navbar-nav li a:hover {
    color: var(--orange);
}

ul.navbar-nav li a:active {
    color: var(--orange)
}

.btn {
    border-radius: 40px;
}

/*Hamburger */
.menu-bars {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.menu-bars input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-bars span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--orange);
    border-radius: 3px;
    transition: all 0.3s;
}

.menu-bars span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-bars span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-bars input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-bars input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-bars input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


@media only screen and (max-width: 768px) {
    nav ul.navbar-nav {
        width: 50%;
    }

}

@media only screen and (max-width: 576px) {
    .menu-bars {
        display: flex;
    }

    nav ul.navbar-nav {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: var(--orange);
        color: var(--white);
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
    }
}

nav ul.slide {
    transform: translateY(0);
}

/* home */
.home {
    padding: 0 30px;
    align-items: center;
    display: flex;
    height: 70vh;

}

.home__subHeading {
    font-size: 1.2em;
    line-height: 30px;
}

.home__heading {
    font-size: 3.5em;
    line-height: 100px;
    color: var(--green);
    font-weight: 600;
}



/* Form */
.login {
    min-height: 100vh;
}

.login>div {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 40%;
    padding: 0 30px;
}

.form__group {
    display: grid;
    flex-direction: column;
    margin: 1em 0;
}

.form__description {
    padding: 1em 0;
}

@media only screen and (max-width:780px) {
    .login>div {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 0 2em;
        margin: 10em 0 0 0;
    }
}

.login__cta {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin-top: 1.2em;
    cursor: pointer;
    width: 100%;
    background: var(--yellow);
}

.login__heading {
    color: var(--yellow);
}

textarea {
    resize: none;
}

/*  */

label {
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    cursor: pointer;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    border: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}


[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input {
    height: 35px;
    outline: none;
    padding: .3em .5em;
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
}

/* Make the images invisible by default */
.Containers {
    display: none;
}

/* forward & Back buttons */
.Back,
.forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
    background-color: var(--yellow);
}

/* Caption Info */
.Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.MessageInfo {
    color: var(--dark);
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

/* The circles or bullets and indicators */
.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: var(--green);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
    background-color: #717161;
}

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

.about_us {
    display: block;
    min-height: 60vh;
    text-align: left;
    position: relative;
    padding: 2em 2em;
}

.about_us>h2 {
    display: block;
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 auto 30px;
    color: var(--yellow);
}

.about_us>span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: var(--yellow);
    line-height: 1.75;
    margin: 20px auto 10px;
}

.about_us>p {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    margin: 0 auto 10px;
}

.about_us>img {
    display: block;
    margin-bottom: 20px;
}

.about_us>.mission {
    display: blcok;
    width: 60%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 20%;
    padding: 5px 10px;

}

.about_us>.mission>span {
    display: block;
    margin: 0 auto 10px;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    line-height: 1.75;
}

.about_us>.mission>p {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    font-weight: 500;
    line-height: 1.75;
}



/* toast */
#toast {
    /* visibility: hidden; */
    width: fit-content;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
    margin: auto;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 80px;
    right: 0;
    font-size: 17px;
    white-space: nowrap;
}

#toast.success {
    background-color: var(--green);
}

#toast.error {
    background-color: var(--orange);
}

#toast #desc {
    color: #fff;
    padding: 16px;
    white-space: wrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, stay 3s 1s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, stay 3s 1s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}


@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 60px;
        opacity: 0;
    }
}

.endangered {
    background: url('/img/wingpattern.gif');
    min-height: 100vh;
    width: 100%;
}

.endangered__heading {
    padding: 2em 0 1em 0;
    color: var(--white);
}

.endangered__introImg {
    float: left;
}

.game {
    background: url('/img/games.gif');
    min-height: 100vh;
    width: 100%;

}

.game__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1em;
}

.game__card {
    position: relative;
}

.image {
    display: block;
    width: auto;
    height: 200px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: var(--yellow);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.game__card:hover .overlay {
    width: 100%;
    left: 0;
}

.game__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.game__header>h5 {

    font-size: 1.2em;
}

.game__header>div {
    display: flex;
}

.game__heading {
    padding: 2em 0 1em 0;
    color: var(--yellow);
}

.game__name {
    color: var(--white);
    text-decoration: none;
}

.game__desc {
    color: var(--white);
    text-decoration: none;
}


.d-flex {
    display: flex;
    align-items: center;
}

.animals {
    min-height: 100vh;
}

.animals__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1em 2em 2em 2em;

}

.animals__card {
    border-radius: 4px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
}

.animals__card>a {
    text-decoration: none;

}

.animals__card>a:active {
    text-decoration: none;

}

.animals__card>a:hover>div {
    text-decoration: none;
    color: var(--orange);
}


.animals__card>a>div {
    padding: .5em;
    color: var(--dark);

}

.animals__btnArea {
    padding: .5em;
    text-align: center;
}

.animals__img {
    max-width: 100%;
    height: 200px;
    display: block;
    overflow: hidden;
}

.location__cta {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin-top: 1.2em;
    cursor: pointer;
    width: auto;
    background: var(--yellow);
}

.animals__cta {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1.2em 0 0 1em;
    cursor: pointer;
    width: auto;
    background: var(--green);
}

.animals__btnSection {
    padding: 1em 2em 0 2em;
    text-align: right;

}

.edit__cta {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1.2em 0 0 1em;
    cursor: pointer;
    width: auto;
    background: var(--green);
}

.delete__cta {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1.2em 0 0 1em;
    cursor: pointer;
    width: auto;
    background: red;
}

.animal {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .animal {
        width: 95%;
        margin: 0 auto;
    }

    .d-flex {
        flex-direction: column;
    }

    .endangered__img {
        height: 100px;
    }

    .about_us>.mission {
        width: 100%;
        margin: 0;
    }

}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em;

}

.view__name {
    color: var(--orange);
    margin: 2em 0 1em 0;
    text-align: center;
}

.view__endangered {
    color: red;
    margin: .3em;
}

.view__desc {
    padding: 1em 2em;
}

.endangered__explanation {
    line-height: 1.5rem;
}

.endangered__need {
    margin-top: 2em;
    font-size: 1.2em;
}

.todo__container {
    width: 100%;
    clear: both;
    margin: auto;
    font-size: 26px;
    line-height: 31px;
}

.todo__container>div {
    margin: 30px 0;
    background: rgba(204, 255, 255, 0.4);
    border-radius: 20px;
    padding: 3%;
}

.todo__container>div>p {
    width: 66.6667%;
    display: inline-block;
}

footer {
    height: 10vh;
    background-color: var(--dark);
    color: var(--white);
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}