<% if(typeof errors != 'undefined'){ %>
<div id="toast" class="error">
    <span class="close_toast">&times;</span>

    <p id="desc">
        <%= errors %>
    </p>
</div>
<% } %>

<% if(error != ''){ %>
<div id="toast" class="error">
    <span class="close_toast">&times;</span>
    <p id="desc">

        <%= error %>
    </p>
</div>
<% } %>

<% if(success_msg != ''){ %>
<div id="toast" class="success">
    <span class="close_toast">&times;</span>

    <p id="desc">
        <%= success_msg %>
    </p>
</div>
<% } %>


<% if(error_msg != ''){ %>
<div id="toast" class="error">
    <span class="close_toast">&times;</span>
    <p id="desc">
        <%= error_msg %>
    </p>
</div>
<% } %>