<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=pageDescription%>">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span>
                    ZooLand
                </span>
                <span>Wildlife</span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/animals">Animals</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        </ul>
        <div class="menu-bars" id="toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>