<%-include("../partials/_header.ejs") -%>
<section class="login">
    <div>
        <div class="text-center">
            <h1 class="login__heading">Login</h1>
            <%-include ("../partials/_alert.ejs") -%>

        </div>
        <form class="form" action="/api/auth/login" method="POST" autocomplete="off">
            <div class="form__group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="" />
            </div>
            <div class="form__group">
                <label>Password</label>
                <input type="password" name="password" />
            </div>
            <div>
                <p>Do not have an account ? <a href="register">
                        Sign up
                    </a></p>
            </div>
            <div>
                <button class="login__cta">Login</button>
            </div>
        </form>
    </div>

</section>

<%-include("../partials/_footer.ejs") -%>